html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.herb-serif{font-family:serif}.herb-sans-serif{font-family:sans-serif}.herb-cursive{font-family:cursive}.herb-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.herb-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.herb-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.herb-table,.herb-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.herb-table-all{border:1px solid #ccc}
.herb-bordered tr,.herb-table-all tr{border-bottom:1px solid #ddd}.herb-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.herb-table-all tr:nth-child(odd){background-color:#fff}.herb-table-all tr:nth-child(even){background-color:#f1f1f1}
.herb-hoverable tbody tr:hover,.herb-ul.herb-hoverable li:hover{background-color:#ccc}.herb-centered tr th,.herb-centered tr td{text-align:center}
.herb-table td,.herb-table th,.herb-table-all td,.herb-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.herb-table th:first-child,.herb-table td:first-child,.herb-table-all th:first-child,.herb-table-all td:first-child{padding-left:16px}
.herb-btn,.herb-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.herb-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.herb-btn,.herb-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.herb-disabled,.herb-btn:disabled,.herb-button:disabled{cursor:not-allowed;opacity:0.3}.herb-disabled *,:disabled *{pointer-events:none}
.herb-btn.herb-disabled:hover,.herb-btn:disabled:hover{box-shadow:none}
.herb-badge,.herb-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.herb-badge{border-radius:50%}
.herb-ul{list-style-type:none;padding:0;margin:0}.herb-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.herb-ul li:last-child{border-bottom:none}
.herb-tooltip,.herb-display-container{position:relative}.herb-tooltip .herb-text{display:none}.herb-tooltip:hover .herb-text{display:inline-block}
.herb-ripple:active{opacity:0.5}.herb-ripple{transition:opacity 0s}
.herb-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.herb-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.herb-dropdown-click,.herb-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.herb-dropdown-hover:hover .herb-dropdown-content{display:block}
.herb-dropdown-hover:first-child,.herb-dropdown-click:hover{background-color:#ccc;color:#000}
.herb-dropdown-hover:hover > .herb-button:first-child,.herb-dropdown-click:hover > .herb-button:first-child{background-color:#ccc;color:#000}
.herb-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.herb-check,.herb-radio{width:24px;height:24px;position:relative;top:6px}
.herb-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.herb-bar-block .herb-dropdown-hover,.herb-bar-block .herb-dropdown-click{width:100%}
.herb-bar-block .herb-dropdown-hover .herb-dropdown-content,.herb-bar-block .herb-dropdown-click .herb-dropdown-content{min-width:100%}
.herb-bar-block .herb-dropdown-hover .herb-button,.herb-bar-block .herb-dropdown-click .herb-button{width:100%;text-align:left;padding:8px 16px}
.herb-main,#main{transition:margin-left .4s}
.herb-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.herb-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.herb-bar{width:100%;overflow:hidden}.herb-center .herb-bar{display:inline-block;width:auto}
.herb-bar .herb-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.herb-bar .herb-dropdown-hover,.herb-bar .herb-dropdown-click{position:static;float:left}
.herb-bar .herb-button{white-space:normal}
.herb-bar-block .herb-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.herb-bar-block.herb-center .herb-bar-item{text-align:center}.herb-block{display:block;width:100%}
.herb-responsive{display:block;overflow-x:auto}
.herb-container:after,.herb-container:before,.herb-panel:after,.herb-panel:before,.herb-row:after,.herb-row:before,.herb-row-padding:after,.herb-row-padding:before,
.herb-cell-row:before,.herb-cell-row:after,.herb-clear:after,.herb-clear:before,.herb-bar:before,.herb-bar:after{content:"";display:table;clear:both}
.herb-col,.herb-half,.herb-third,.herb-twothird,.herb-threequarter,.herb-quarter{float:left;width:100%}
.herb-col.s1{width:8.33333%}.herb-col.s2{width:16.66666%}.herb-col.s3{width:24.99999%}.herb-col.s4{width:33.33333%}
.herb-col.s5{width:41.66666%}.herb-col.s6{width:49.99999%}.herb-col.s7{width:58.33333%}.herb-col.s8{width:66.66666%}
.herb-col.s9{width:74.99999%}.herb-col.s10{width:83.33333%}.herb-col.s11{width:91.66666%}.herb-col.s12{width:99.99999%}
@media (min-width:601px){.herb-col.m1{width:8.33333%}.herb-col.m2{width:16.66666%}.herb-col.m3,.herb-quarter{width:24.99999%}.herb-col.m4,.herb-third{width:33.33333%}
.herb-col.m5{width:41.66666%}.herb-col.m6,.herb-half{width:49.99999%}.herb-col.m7{width:58.33333%}.herb-col.m8,.herb-twothird{width:66.66666%}
.herb-col.m9,.herb-threequarter{width:74.99999%}.herb-col.m10{width:83.33333%}.herb-col.m11{width:91.66666%}.herb-col.m12{width:99.99999%}}
@media (min-width:993px){.herb-col.l1{width:8.33333%}.herb-col.l2{width:16.66666%}.herb-col.l3{width:24.99999%}.herb-col.l4{width:33.33333%}
.herb-col.l5{width:41.66666%}.herb-col.l6{width:49.99999%}.herb-col.l7{width:58.33333%}.herb-col.l8{width:66.66666%}
.herb-col.l9{width:74.99999%}.herb-col.l10{width:83.33333%}.herb-col.l11{width:91.66666%}.herb-col.l12{width:99.99999%}}
.herb-rest{overflow:hidden}.herb-stretch{margin-left:-16px;margin-right:-16px}
.herb-content,.herb-auto{margin-left:auto;margin-right:auto}.herb-content{max-width:980px}.herb-auto{max-width:1140px}
.herb-cell-row{display:table;width:100%}.herb-cell{display:table-cell}
.herb-cell-top{vertical-align:top}.herb-cell-middle{vertical-align:middle}.herb-cell-bottom{vertical-align:bottom}
.herb-hide{display:none!important}.herb-show-block,.herb-show{display:block!important}.herb-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.herb-auto{max-width:95%}}
@media (max-width:600px){.herb-modal-content{margin:0 10px;width:auto!important}.herb-modal{padding-top:30px}
.herb-dropdown-hover.herb-mobile .herb-dropdown-content,.herb-dropdown-click.herb-mobile .herb-dropdown-content{position:relative}	
.herb-hide-small{display:none!important}.herb-mobile{display:block;width:100%!important}.herb-bar-item.herb-mobile,.herb-dropdown-hover.herb-mobile,.herb-dropdown-click.herb-mobile{text-align:center}
.herb-dropdown-hover.herb-mobile,.herb-dropdown-hover.herb-mobile .herb-btn,.herb-dropdown-hover.herb-mobile .herb-button,.herb-dropdown-click.herb-mobile,.herb-dropdown-click.herb-mobile .herb-btn,.herb-dropdown-click.herb-mobile .herb-button{width:100%}}
@media (max-width:768px){.herb-modal-content{width:500px}.herb-modal{padding-top:50px}}
@media (min-width:993px){.herb-modal-content{width:900px}.herb-hide-large{display:none!important}.herb-sidebar.herb-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.herb-hide-medium{display:none!important}}
@media (max-width:992px){.herb-sidebar.herb-collapse{display:none}.herb-main{margin-left:0!important;margin-right:0!important}.herb-auto{max-width:100%}}
.herb-top,.herb-bottom{position:fixed;width:100%;z-index:1}.herb-top{top:0}.herb-bottom{bottom:0}
.herb-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.herb-display-topleft{position:absolute;left:0;top:0}.herb-display-topright{position:absolute;right:0;top:0}
.herb-display-bottomleft{position:absolute;left:0;bottom:0}.herb-display-bottomright{position:absolute;right:0;bottom:0}
.herb-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.herb-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.herb-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.herb-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.herb-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.herb-display-container:hover .herb-display-hover{display:block}.herb-display-container:hover span.herb-display-hover{display:inline-block}.herb-display-hover{display:none}
.herb-display-position{position:absolute}
.herb-circle{border-radius:50%}
.herb-round-small{border-radius:2px}.herb-round,.herb-round-medium{border-radius:4px}.herb-round-large{border-radius:8px}.herb-round-xlarge{border-radius:16px}.herb-round-xxlarge{border-radius:32px}
.herb-row-padding,.herb-row-padding>.herb-half,.herb-row-padding>.herb-third,.herb-row-padding>.herb-twothird,.herb-row-padding>.herb-threequarter,.herb-row-padding>.herb-quarter,.herb-row-padding>.herb-col{padding:0 8px}
.herb-container,.herb-panel{padding:0.01em 16px}.herb-panel{margin-top:16px;margin-bottom:16px}
.herb-grid{display:grid}.herb-grid-padding{display:grid;gap:16px}.herb-flex{display:flex}
.herb-text-center{text-align:center}.herb-text-bold,.herb-bold{font-weight:bold}.herb-text-italic,.herb-italic{font-style:italic}
.herb-code,.herb-codespan{font-family:Consolas,"courier new";font-size:16px}
.herb-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.herb-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.herb-card,.herb-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.herb-card-4,.herb-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.herb-spin{animation:herb-spin 2s infinite linear}@keyframes herb-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.herb-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.herb-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.herb-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.herb-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.herb-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.herb-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.herb-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.herb-animate-input{transition:width 0.4s ease-in-out}.herb-animate-input:focus{width:100%!important}
.herb-opacity,.herb-hover-opacity:hover{opacity:0.60}.herb-opacity-off,.herb-hover-opacity-off:hover{opacity:1}
.herb-opacity-max{opacity:0.25}.herb-opacity-min{opacity:0.75}
.herb-greyscale-max,.herb-grayscale-max,.herb-hover-greyscale:hover,.herb-hover-grayscale:hover{filter:grayscale(100%)}
.herb-greyscale,.herb-grayscale{filter:grayscale(75%)}.herb-greyscale-min,.herb-grayscale-min{filter:grayscale(50%)}
.herb-sepia{filter:sepia(75%)}.herb-sepia-max,.herb-hover-sepia:hover{filter:sepia(100%)}.herb-sepia-min{filter:sepia(50%)}
.herb-tiny{font-size:10px!important}.herb-small{font-size:12px!important}.herb-medium{font-size:15px!important}.herb-large{font-size:18px!important}
.herb-xlarge{font-size:24px!important}.herb-xxlarge{font-size:36px!important}.herb-xxxlarge{font-size:48px!important}.herb-jumbo{font-size:64px!important}
.herb-left-align{text-align:left!important}.herb-right-align{text-align:right!important}.herb-justify{text-align:justify!important}.herb-center{text-align:center!important}
.herb-border-0{border:0!important}.herb-border{border:1px solid #ccc!important}
.herb-border-top{border-top:1px solid #ccc!important}.herb-border-bottom{border-bottom:1px solid #ccc!important}
.herb-border-left{border-left:1px solid #ccc!important}.herb-border-right{border-right:1px solid #ccc!important}
.herb-topbar{border-top:6px solid #ccc!important}.herb-bottombar{border-bottom:6px solid #ccc!important}
.herb-leftbar{border-left:6px solid #ccc!important}.herb-rightbar{border-right:6px solid #ccc!important}
.herb-section,.herb-code{margin-top:16px!important;margin-bottom:16px!important}
.herb-margin{margin:16px!important}.herb-margin-top{margin-top:16px!important}.herb-margin-bottom{margin-bottom:16px!important}
.herb-margin-left{margin-left:16px!important}.herb-margin-right{margin-right:16px!important}
.herb-padding-small{padding:4px 8px!important}.herb-padding{padding:8px 16px!important}.herb-padding-large{padding:12px 24px!important}
.herb-padding-16{padding-top:16px!important;padding-bottom:16px!important}.herb-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.herb-padding-32{padding-top:32px!important;padding-bottom:32px!important}.herb-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.herb-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.herb-padding-top-64{padding-top:64px!important}.herb-padding-top-48{padding-top:48px!important}
.herb-padding-top-32{padding-top:32px!important}.herb-padding-top-24{padding-top:24px!important}
.herb-left{float:left!important}.herb-right{float:right!important}
.herb-button:hover{color:#000!important;background-color:#ccc!important}
.herb-transparent,.herb-hover-none:hover{background-color:transparent!important}
.herb-hover-none:hover{box-shadow:none!important}
.herb-rtl{direction:rtl}.herb-ltr{direction:ltr}
/* Colors */
.herb-amber,.herb-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.herb-aqua,.herb-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.herb-blue,.herb-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.herb-light-blue,.herb-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.herb-brown,.herb-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.herb-cyan,.herb-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.herb-blue-grey,.herb-hover-blue-grey:hover,.herb-blue-gray,.herb-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.herb-green,.herb-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.herb-light-green,.herb-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.herb-indigo,.herb-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.herb-khaki,.herb-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.herb-lime,.herb-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.herb-orange,.herb-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.herb-deep-orange,.herb-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.herb-pink,.herb-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.herb-purple,.herb-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.herb-deep-purple,.herb-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.herb-red,.herb-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.herb-sand,.herb-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.herb-teal,.herb-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.herb-yellow,.herb-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.herb-white,.herb-hover-white:hover{color:#000!important;background-color:#fff!important}
.herb-black,.herb-hover-black:hover{color:#fff!important;background-color:#000!important}
.herb-grey,.herb-hover-grey:hover,.herb-gray,.herb-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.herb-light-grey,.herb-hover-light-grey:hover,.herb-light-gray,.herb-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.herb-dark-grey,.herb-hover-dark-grey:hover,.herb-dark-gray,.herb-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.herb-asphalt,.herb-hover-asphalt:hover{color:#fff!important;background-color:#343a40!important}
.herb-crimson,.herb-hover-crimson:hover{color:#fff!important;background-color:#a20025!important}
.herb-cobalt,herb-hover-cobalt:hover{color:#fff!important;background-color:#0050ef!important}
.herb-emerald,.herb-hover-emerald:hover{color:#fff!important;background-color:#008a00!important}
.herb-olive,.herb-hover-olive:hover{color:#fff!important;background-color:#6d8764!important}
.herb-paper,.herb-hover-paper:hover{color:#000!important;background-color:#f8f9fa!important}
.herb-sienna,.herb-hover-sienna:hover{color:#fff!important;background-color:#a0522d!important}
.herb-taupe,.herb-hover-taupe:hover{color:#fff!important;background-color:#87794e!important}
.herb-danger{color:#fff!important;background-color:#dd0000!important}
.herb-note{color:#000!important;background-color:#fff599!important}
.herb-info{color:#fff!important;background-color:#0a6fc2!important}
.herb-warning{color:#000!important;background-color:#ffb305!important}
.herb-success{color:#fff!important;background-color:#008a00!important}
.herb-pale-red,.herb-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.herb-pale-green,.herb-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.herb-pale-yellow,.herb-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.herb-pale-blue,.herb-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.herb-text-amber,.herb-hover-text-amber:hover{color:#ffc107!important}
.herb-text-aqua,.herb-hover-text-aqua:hover{color:#00ffff!important}
.herb-text-blue,.herb-hover-text-blue:hover{color:#2196F3!important}
.herb-text-light-blue,.herb-hover-text-light-blue:hover{color:#87CEEB!important}
.herb-text-brown,.herb-hover-text-brown:hover{color:#795548!important}
.herb-text-cyan,.herb-hover-text-cyan:hover{color:#00bcd4!important}
.herb-text-blue-grey,.herb-hover-text-blue-grey:hover,.herb-text-blue-gray,.herb-hover-text-blue-gray:hover{color:#607d8b!important}
.herb-text-green,.herb-hover-text-green:hover{color:#4CAF50!important}
.herb-text-light-green,.herb-hover-text-light-green:hover{color:#8bc34a!important}
.herb-text-indigo,.herb-hover-text-indigo:hover{color:#3f51b5!important}
.herb-text-khaki,.herb-hover-text-khaki:hover{color:#b4aa50!important}
.herb-text-lime,.herb-hover-text-lime:hover{color:#cddc39!important}
.herb-text-orange,.herb-hover-text-orange:hover{color:#ff9800!important}
.herb-text-deep-orange,.herb-hover-text-deep-orange:hover{color:#ff5722!important}
.herb-text-pink,.herb-hover-text-pink:hover{color:#e91e63!important}
.herb-text-purple,.herb-hover-text-purple:hover{color:#9c27b0!important}
.herb-text-deep-purple,.herb-hover-text-deep-purple:hover{color:#673ab7!important}
.herb-text-red,.herb-hover-text-red:hover{color:#f44336!important}
.herb-text-sand,.herb-hover-text-sand:hover{color:#fdf5e6!important}
.herb-text-teal,.herb-hover-text-teal:hover{color:#009688!important}
.herb-text-yellow,.herb-hover-text-yellow:hover{color:#d2be0e!important}
.herb-text-white,.herb-hover-text-white:hover{color:#fff!important}
.herb-text-black,.herb-hover-text-black:hover{color:#000!important}
.herb-text-grey,.herb-hover-text-grey:hover,.herb-text-gray,.herb-hover-text-gray:hover{color:#757575!important}
.herb-text-light-grey,.herb-hover-text-light-grey:hover,.herb-text-light-gray,.herb-hover-text-light-gray:hover{color:#f1f1f1!important}
.herb-text-dark-grey,.herb-hover-text-dark-grey:hover,.herb-text-dark-gray,.herb-hover-text-dark-gray:hover{color:#3a3a3a!important}
.herb-border-amber,.herb-hover-border-amber:hover{border-color:#ffc107!important}
.herb-border-aqua,.herb-hover-border-aqua:hover{border-color:#00ffff!important}
.herb-border-blue,.herb-hover-border-blue:hover{border-color:#2196F3!important}
.herb-border-light-blue,.herb-hover-border-light-blue:hover{border-color:#87CEEB!important}
.herb-border-brown,.herb-hover-border-brown:hover{border-color:#795548!important}
.herb-border-cyan,.herb-hover-border-cyan:hover{border-color:#00bcd4!important}
.herb-border-blue-grey,.herb-hover-border-blue-grey:hover,.herb-border-blue-gray,.herb-hover-border-blue-gray:hover{border-color:#607d8b!important}
.herb-border-green,.herb-hover-border-green:hover{border-color:#4CAF50!important}
.herb-border-light-green,.herb-hover-border-light-green:hover{border-color:#8bc34a!important}
.herb-border-indigo,.herb-hover-border-indigo:hover{border-color:#3f51b5!important}
.herb-border-khaki,.herb-hover-border-khaki:hover{border-color:#f0e68c!important}
.herb-border-lime,.herb-hover-border-lime:hover{border-color:#cddc39!important}
.herb-border-orange,.herb-hover-border-orange:hover{border-color:#ff9800!important}
.herb-border-deep-orange,.herb-hover-border-deep-orange:hover{border-color:#ff5722!important}
.herb-border-pink,.herb-hover-border-pink:hover{border-color:#e91e63!important}
.herb-border-purple,.herb-hover-border-purple:hover{border-color:#9c27b0!important}
.herb-border-deep-purple,.herb-hover-border-deep-purple:hover{border-color:#673ab7!important}
.herb-border-red,.herb-hover-border-red:hover{border-color:#f44336!important}
.herb-border-sand,.herb-hover-border-sand:hover{border-color:#fdf5e6!important}
.herb-border-teal,.herb-hover-border-teal:hover{border-color:#009688!important}
.herb-border-yellow,.herb-hover-border-yellow:hover{border-color:#ffeb3b!important}
.herb-border-white,.herb-hover-border-white:hover{border-color:#fff!important}
.herb-border-black,.herb-hover-border-black:hover{border-color:#000!important}
.herb-border-grey,.herb-hover-border-grey:hover,.herb-border-gray,.herb-hover-border-gray:hover{border-color:#9e9e9e!important}
.herb-border-light-grey,.herb-hover-border-light-grey:hover,.herb-border-light-gray,.herb-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.herb-border-dark-grey,.herb-hover-border-dark-grey:hover,.herb-border-dark-gray,.herb-hover-border-dark-gray:hover{border-color:#616161!important}
.herb-border-pale-red,.herb-hover-border-pale-red:hover{border-color:#ffe7e7!important}.herb-border-pale-green,.herb-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.herb-border-pale-yellow,.herb-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.herb-border-pale-blue,.herb-hover-border-pale-blue:hover{border-color:#e7ffff!important}
