* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f8fff6;
  color: #333;
  line-height: 1.6;
}

.aisection {
    text-align: left;
}