{% load static %}
<!DOCTYPE html>
<html  lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale="1.0">
    <link rel="stylesheet" href="{% static 'css/medherb.css' %}">
    <title>Herbal Harmony</title>

</head>
<body>
  <div class="heading name">
    
    <h1>Aromatic Herbs</h1>
  </div>
    <nav class="navbar background">
           
                <ul class="nav-list">
                    <div class="logo"><a href="{% url 'Home' %}"><img src="{% static 'pictures/logo.png' %}" alt="logo" width="30%"></a></div>

          
                     <li><a href="{% url 'Home' %}">Home</a></li>
                    <li><a href="{% url 'healthform' %}">AI Chat</a></li>
                    <li><a href="{% url 'Treatment' %}">Treatment</a></li>
                    <li><a href="{% url 'herb' %}">Herbs</a></li>
                    <li><a href="{% url 'yoga' %}">Physical Fitness</a></li>
                    <li><a href="{% url 'mentalhealth' %}">Mental Health</a></li>
                     <li><a href="{% url 'About' %}">About</a></li>
                    <!-- <li><a href="#disclaimer">Disclaimer</a></li> -->
                    <li><a href="#contact" style="color:#fff; text-decoration:none; margin-right:12px;">Contact Us</a></li>
                </ul>
           
             
                <input type="text" name="search" id="search">
                <button class="btn-search">search</button>
             </nav>
             <div class="sticker">
                <img src="{% static 'pictures/medhub.jpg' %}" alt="medicinal herbs" width="100%">
  
             </div>
 <div class="left-section">
    <h1>Aromatic Herbs</h1>
    <p>Aromatic herbs are plants that contain strong-smelling essential oils and release a pleasant fragrance, commonly used in aromatherapy, cooking, skincare, and natural healing due to their soothing and therapeutic properties. Here are some commonly used Aromatic herbs and their benefits:</p>
 <!-- <div class="sticker">
  <img src="{% static 'pictures/medhub.jpg' %}" alt="medicinal herbs" width="100%">
  
 </div> -->
  </div>  
   
    <section class="secondSection">
            <div class="card">
              <img src="{% static 'pictures/lemongrassaro.jpg' %}" alt="herb" width="">
                  <h3>Lemon Grass</h3>
                 <p><h5> Calming fragrance ,Used for stress relief, sleep improvement, perfumes, oils.</h5></p>
               <br>
            </div>
          
                <div class="card">
                 <img src="{% static 'pictures/rosemary.jpg' %}" alt="herb" width="">
                <h3>Rosemary</h3>
                 <p><h5> Strong, woody aroma,Used in cooking, hair growth oils, memory enhancement</h5></p>
                
                 <br>
            </div>
            <div class="card">
                 <img src="{% static 'pictures/basil.jpg' %}" alt="herb" width="">
                  <h3>Basil</h3>
                 <p><h5>Sweet, spicy smell,Used in cooking, essential oils, stress relief</h5></p>
                 
                 <br>
            </div>
             <div class="card">
                 <img src="{% static 'pictures/Sage.jpg' %}" alt="herb" width="">
                  <h3>Sage</h3>
                 <p><h5>Earthy scent,Used for cleansing rituals, teas, air purification</h5></p>

                 <br>
            </div>
             <div class="card">
                 <img src="{% static 'pictures/lavender.jpg' %}" alt="herb" width="">
                  <h3>Lavender</h3>
                 <p><h5>Lavender is known for its relaxing aroma and is commonly used in aromatherapy to reduce stress and promote better sleep.</h5></p>
                
                 <br>
            </div>
             <div class="card">
                 <img src="{% static 'pictures/peppermint.jpg' %}" alt="herb" width="">
                  <h3>Peppermint</h3>
                 <p><h5> Peppermint is used to relieve digestive discomfort, headaches, and muscle pain due to its cooling and soothing properties.</h5></p>
                
                 <br>
            </div>
             <!-- <div class="card">
                 <img src="{% static 'pictures/ginseng.jpg' %}" alt="herb" width="">
                  <h3>Ginseng</h3>
                 <p><h5>Ginseng is known for its potential to boost energy, reduce stress, and enhance cognitive function.</h5></p>
                 
                 <br>
            </div> -->
             <div class="card">
                 <img src="{% static 'pictures/chamomile.jpg' %}" alt="herb" width="">
                  <h3>Chamomile</h3>
                 <p><h5>Chamomile is known for its calming effects and is often used to promote relaxation and improve sleep quality.</h5></p>
                
                 
                 <br>
            </div>
             <div class="card">
                 <img src="{% static 'pictures/Echinacea.jpg' %}" alt="herb" width="">
                  <h3>Eucalyptus</h3>
                 <p><h5>Echinacea is known for its immune-boosting properties and is often used to prevent colds and respiratory infections.</h5></p>
                
                 <br>
            </div>
 
    </section>
  
  <!-- -----------------footer div--------------------- -->
<footer id="contact" tabindex="-1">
    <div class="footer-container">
      <div class="footer-column">
        <h3>Motive</h3>
        <p>We are committed to provide the best life experience through natureopathy,Promoting natural wellness for all ages with the power of herbs and home remedies.</p>
      </div>

      <!-- -------------------Quick Links-------------------- -->
      <div class="footer-column">
        <h3>Quick Links</h3>
        <a href="{% url 'Home' %}">Home</a>
        <a href="{% url 'healthform' %}">AI Chat</a>
        <a href="{% url 'herb' %}">Herbs</a>
        <a href="{% url 'Treatment' %}">Treatment</a>
        <a href="{% url 'yoga' %}">Physical Fitness</a>
        <a href="{% url 'mentalhealth' %}">Mental Health</a>
        <a href="{% url 'About' %}">About</a>
        <a href="#contact" style="color:#f8f3f3; text-decoration:none; margin-right:12px;">Contact Us</a>
      </div>

      <!-- -------------------Contact Info-------------------- -->
      <div class="footer-column">
        <h3>Contact Us</h3>
        <p>Email: info@herbalharmony.com</p>
        <p>Phone: +91 98765 43210</p>
        <p>Location: Prayagraj, India</p>
      </div>

    
      
    </div>

    <!-- -----------------Footer Last Line---------------------- -->
    <div class="footer-lastline">
      <p>2025 Herbal Harmony. All rights reserved.</p>
    </div>
  </footer>
  
</body>
</html>