{% load static %}
<!DOCTYPE html>
<html  lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale="1.0">
     <link rel="stylesheet" href="{% static 'css/Style1.css' %}">
    <title>Herbal Harmony</title>

</head>
<body>
                         <!--_______________logo and heading _____________________ -->
  <!--  <div class="logo"><img src="pictures/Black White Minimalist Elegant Beauty House Initial Logo (1).png" alt="logo" width="200" height="160">
          <h1>HERBAL HARMONY</h1>
           <h3>The Balanced Path</h3>
    </div> -->
                            <!-- _____________________ navigation bar___________________-->
        <nav class="navbar background">
           
                <ul class="nav-list">
                    <div class="logo"><a href="Home.html"><img src="{% static 'pictures/logo.png' %}" alt="logo" width="30%"></a></div>

          
                    <li><a href="{% url 'Home' %}">Home</a></li>
                    
                    <li><a href="{% url 'yoga' %}">Yoga</a></li>
                    <li><a href="{% url 'healthform' %}">AI Chat</a></li>
                    <li><a href="{% url 'Treatment' %}">Treatment</a></li>
                    <li><a href="{% url 'About' %}">About</a></li>
                    <li><a href="#disclaimer">Disclaimer</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
           
             
                <input type="text" name="search" id="search">
                <button class="btn-search">search</button>
             </nav>
         <div class="herbbackground">
              <img src="{% static 'pictures/herbbackground.png' %}" alt="Herb Background">
            </div>
        <section class="background firstSection">
            <div class="box-main">
               <div class="firstHalf">
                <p class="text-big">Holistic wellness, powered by nature...</p>
                <p class="text-small">"Herbs have been an essential part of human life for centuries, offering healing, flavor, and fragrance. On this page, we explore different types of herbs based on their uses in medicine, cooking, and daily wellness."</p>
                 <br>
                <p>Herbs can be broadly categorized into Medicinal Herbs that heal, Aromatic Herbs that refresh, and Culinary Herbs that enhance flavors. Each type plays a unique role in supporting health and lifestyle.</p>
                <br>
               <p>From soothing fevers and boosting immunity to adding aroma in oils and flavor in meals, herbs are nature's versatile gift. Let's discover their types and benefits.</p>
               </div>
               
               <div class="secondHalf">
                <img src="{% static 'pictures/img3.jpg' %}" alt="logo" >
               </div>
            </div>
        </section>
          
             <!-- -------------------first div----------------  -->

             <section class=" secondSection" >
              
                 <!-- <img src="{% static 'pictures/herbbackground2.png' %}" alt="Herb Background">
               -->
                  <div class="card">
                     <img src="{% static 'pictures/medherb.jpg' %}" alt="herb" width="100%">
                     <h2>Medicinal Herb</h2>
                     <p><h5>Medicinal herbs are plants that have therapeutic properties and are used in traditional medicine.</h5></p>
                     <a href="{% url 'medherb' %}"><button class="Medicinal">know More...</button> </a>
                  </div>
          
                  <div class="card">
                      <img src="{% static 'pictures/herb1.jpg' %}" alt="herb">
                      <h2>Culinary Herbs</h2>
                      <p><h5>Culinary herbs are plants used to flavor dishes and enhance their taste.</h5></p>
                      <a href="{% url 'medherb' %}"><button class="Culinary">know More...</button></a>
                      <br>
                   </div>
                  <div class="card">
                     <img src="{% static 'pictures/aromaticherb.jpg' %}" alt="herb">
                     <h2>Aromatic Herbs</h2>
                     <p><h5>Aromatic herbs are plants that are valued for their fragrant properties and are often used in cooking, perfumery, and traditional medicine.</h5></p>
                      <a href="{% url 'medherb' %}"><button class="Aromatic">know More...</button></a>
                    <br>
                  </div>
                  

        </section> 
<footer>
    <div class="footer-container">
      <div class="footer-column">
        <h3>Motive</h3>
        <p>We are committed to provide the best life experience through natureopathy,Promoting natural wellness for all ages with the power of herbs and home remedies.</p>
      </div>

      <!-- -------------------Quick Links-------------------- -->
      <div class="footer-column">
        <h3>Quick Links</h3>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Yoga</a>
        <a href="#">Contact us</a>
      </div>

      <!-- -------------------Contact Info-------------------- -->
      <div class="footer-column">
        <h3>Contact Us</h3>
        <p>Email: info@herbalharmony.com</p>
        <p>Phone: +91 98765 43210</p>
        <p>Location: Prayagraj, India</p>
      </div>

    
      
    </div>

    <!-- Footer Last Line -->
    <div class="footer-lastline">
      <p>2025 Herbal Harmony. All rights reserved.</p>
    </div>
  </footer>
  
</body>
</html>