{% load static %}
<!DOCTYPE html>
<html  lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale="1.0">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <title>Herbal Harmony</title>

</head>
<body>
                         <!--_______________logo and heading _____________________ -->
  <!--  <div class="logo"><img src="pictures/Black White Minimalist Elegant Beauty House Initial Logo (1).png" alt="logo" width="200" height="160">
          <h1>HERBAL HARMONY</h1>
           <h3>The Balanced Path</h3>
    </div> -->
                            <!-- _____________________ navigation bar___________________-->
        <nav class="navbar background">
           
                <ul class="nav-list">
                    <div class="logo"><img src="{% static 'pictures/logo.png' %}" alt="logo" width="30%"></div>

                    <li><a href="{% url 'Home' %}">Home</a></li>
                    
                    <li><a href="{% url 'About' %}">About</a></li>
                    <li><a href="{% url 'yoga' %}">Yoga</a></li>
                    <li><a href="{% url 'healthform' %}">AI Chat</a></li>
                    <li><a href="{% url 'Treatment' %}">Treatment</a></li>
                    <li><a href="#disclaimer">Disclaimer</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
           
             
                <input type="text" name="search" id="search">
                <button class="btn btn-sm">search</button>
             </nav>
       
       <!--  --------------------text and logo section-------------------- -->
             <section class="background firstSection">
            <div class="box-main">
               <div class="firstHalf">
                <p class="text-big">Welcome to Herbal Harmony...</p>
                <p class="text-small">It is a wellness initiative that promotes natural healing and healthy living for people of all age groups. Our goal is to bring back the traditional wisdom of herbs and offer safe, side-effect-free remedies for everyday health concerns.Our mission is to bring you closer to a healthy lifestyle through natural remedies and herbal care.</p>
               </div>
               
               <div class="secondHalf">
                <img src="{% static 'pictures/logo.png' %}" alt="logo" >
               </div>
            </div>
        </section>

       <!--       <div class="search-container">
                   <input type="text" name="search" id="search">
                   <button class="btn btn-sm">search</button>
               </div>--> 

      <!--  <section class="bgimage ">
          <img src="pictures/backgroundimg.jpg" alt="Background Image" class="bg-image">
        </section>-->

        <div class="Why">
          <img src="{% static 'pictures/why.png' %}" alt="Why" width="75%"   height="30%">
        </div>

           <!--  -------------------card section---------------  -->
        <section class=" secondSection">
            <div class="card">
              <img src="{% static 'pictures/herb.jpg' %}" alt="herb" width="">
                  <h2>HERBS</h2>
                 <p><h5>Herbs are natural plants that people use for healing, cooking, and health benefits.</h5></p>
                <a href="{% url 'herb' %}"><button class="herb">knowledge</button></a>
                <a href="{% url 'herb' %}"><button class="herb">Treatment</button></a>
            </div>
          
                <div class="card">
                 <img src="{% static 'pictures/physicalfitness.jpg' %}" alt="herb" width="">
                  <h2>Physical Fitness</h2>
                 <p><h5>Physical fitness is a state of health and well-being that allows individuals to perform daily activities with vigor and without fatigue.</h5></p>
                 <a href="{% url 'yoga' %}"><button class="PhysicalFitness">knowledge</button></a>
                 <a href="{% url 'yoga' %}"><button class="PhysicalFitness">Treatment</button></a>
                 <br>
            </div>
            <div class="card">
                 <img src="{% static 'pictures/mentalhealth.png' %}" alt="herb" width="">
                  <h2>Mental Health</h2>
                 <p><h5>Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act.</h5></p>
                 <a href="Mentalhealth.html"><button class="MentalHealth">knowledge</button></a>
                 <a href="mentalhealth.html"><button class="MentalHealth">Treatment</button></a>
                 <br>
            </div>

        </section>

 <footer>
    <div class="footer-container">
      <div class="footer-column">
        <h3>Motive</h3>
        <p>We are committed to provide the best life experience through natureopathy,Promoting natural wellness for all ages with the power of herbs and home remedies.</p>
      </div>

      <!-- -------------------Quick Links-------------------- -->
      <div class="footer-column">
        <h3>Quick Links</h3>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Yoga</a>
        <a href="#">Contact us</a>
      </div>

      <!-- -------------------Contact Info-------------------- -->
      <div class="footer-column">
        <h3>Contact Us</h3>
        <p>Email: info@herbalharmony.com</p>
        <p>Phone: +91 98765 43210</p>
        <p>Location: Prayagraj, India</p>
      </div>

    
      
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <p>2025 Herbal Harmony. All rights reserved.</p>
    </div>
  </footer>


   






</body>
</html>