{% load static %}
<!DOCTYPE html>
<html  lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale="1.0">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <title>Herbal Harmony</title>

</head>
<body>
                         <!--_______________logo and heading _____________________ -->
  <!--  <div class="logo"><img src="pictures/Black White Minimalist Elegant Beauty House Initial Logo (1).png" alt="logo" width="200" height="160">
          <h1>HERBAL HARMONY</h1>
           <h3>The Balanced Path</h3>
    </div> -->
                            <!-- _____________________ navigation bar___________________-->
        <nav class="navbar background">
           
                <ul class="nav-list">
                    <div class="logo"><img src="{% static 'pictures/logo.png' %}" alt="logo" width="30%"></div>

                    <li><a href="{% url 'Home' %}">Home</a></li>
                    <li><a href="{% url 'healthform' %}">AI Chat</a></li>
                    <li><a href="{% url 'Treatment' %}">Treatment</a></li>
                    <li><a href="{% url 'herb' %}">Herbs</a></li>
                    <li><a href="{% url 'yoga' %}">Physical Fitness</a></li>
                    <li><a href="{% url 'mentalhealth' %}">Mental Health</a></li>
                     <li><a href="{% url 'About' %}">About</a></li>
                    <!-- <li><a href="#disclaimer">Disclaimer</a></li> -->
                    <li><a href="#contact" style="color:#fff; text-decoration:none; margin-right:12px;">Contact Us</a></li>
                </ul>
           
             
                <input type="text" name="search" id="search">
                <button class="btn btn-sm">search</button>
             </nav>


    <!--    <div class="bg-mbackground">
          <img src="{% static 'pictures/mentalhealth.jpg' %}" alt="mbackground" width="100%"   height="100%">
        </div>-->
        

         
 <section class=" secondSection">
          <!-- <h1>For Detailed knowledge---- -></h1> -->
            <div class="card">
              <img src="{% static 'pictures/meditation.jpg' %}" alt="herb" width="">
                  <h2>Meditation</h2>
                 <p><h5>Meditation is a mindful practice that trains the mind to focus, relax, and achieve a state of inner calm.</h5></p>
                <!-- <a href="{% url 'herb' %}"><button class="herb">knowledge</button></a> -->
                <a href="{% url 'Treatment' %}"><button class="herb">Coming soon</button></a>
            </div>
          
                <div class="card">
                 <img src="{% static 'pictures/Aromatherapy.jpg' %}" alt="herb" width="">
                  <h2>Aromatherapy</h2>
                 <p><h5>Aromatherapy is a natural healing practice that uses essential oils extracted from plants to support physical, emotional, and mental well-being.</h5></p>
                 <a href="#"><button class="PhysicalFitness">Coming soon</button></a>
                 <!-- <a href="{% url 'yoga' %}"><button class="PhysicalFitness">Treatment</button></a> -->
                 <br>
            </div>
            <div class="card">
                 <img src="{% static 'pictures/NatureTherapy.jpeg' %}" alt="herb" width="">
                  <h2>Nature Therapy</h2>
                 <p><h5>also known as ecotherapy, is a holistic healing practice that improves mental, emotional well-being by spending intentional time in natural environments.</h5></p>
                 <a href="#"><button class="MentalHealth">Coming soon</button></a>
                 <!-- <a href="{% url 'mentalhealth' %}"><button class="MentalHealth">Treatment</button></a> -->
                 <br>
            </div>
             <div class="card">
                 <img src="{% static 'pictures/musictherapy.jpg' %}" alt="herb" width="">
                  <h2>Music Therapy</h2>
                 <p><h5>Music therapy is a therapeutic practice that uses music, sound, and rhythm to improve emotional, mental, and physical well-being.</h5></p>
                 <a href="#music"><button class="MentalHealth">Coming soon</button></a>
                 <!-- <a href="{% url 'mentalhealth' %}"><button class="MentalHealth">Treatment</button></a> -->
                 <br>
            </div>
            

        </section>
           

 <footer id="contact" tabindex="-1">
    <div class="footer-container">
      <div class="footer-column">
        <h3>Motive</h3>
        <p>We are committed to provide the best life experience through natureopathy,Promoting natural wellness for all ages with the power of herbs and home remedies.</p>
      </div>

      <!-- -------------------Quick Links-------------------- -->
      <div class="footer-column">
        <h3>Quick Links</h3>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Yoga</a>
        <a href="#">Contact us</a>
      </div>

      <!-- -------------------Contact Info-------------------- -->
      <div class="footer-column">
        <h3>  Us</h3>
        <p>Email: info@herbalharmony.com</p>
        <p>Phone: +91 98765 43210</p>
        <p>Location: Prayagraj, India</p>
      </div>

    
      
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <p>2025 Herbal Harmony. All rights reserved.</p>
    </div>
  </footer>

</body>
</html>