<!DOCTYPE html>
<html>
<head>
    <title>Remedy Suggestion</title>
</head>
<body>
    {% if error %}
        <h3 style="color:red;">{{ error }}</h3>
    {% else %}
        <h3>🌿 Personalized Suggestions</h3>
        <p><strong>Age Group:</strong> {{ age_group }}</p>
        <p><strong>Symptom:</strong> {{ Symptom }}</p>
        <p><strong>Recommended Remedy:</strong> 
            <a href="{{ link_remedy }}">{{ remedy }}</a>
        </p>
        <p><strong>Recommended Yoga:</strong> 
            <a href="{{ link_yoga }}">{{ yoga }}</a>
        </p>
    {% endif %}
</body>
</html>









































































































<!-- <!DOCTYPE html>
<html>
<head>
    <title>Result</title>
</head>
<body>
    <h3>Form submitted successfully ✅</h3>
    <p><strong>Age Group:</strong> {{ age_group }}</p>
    <p><strong>Symptom:</strong> {{ symptom }}</p>
</body>
</html> -->
