{% load static %}
<!DOCTYPE html>
<html  lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width",initial-scale="1.0">
    <link rel="stylesheet" href="{% static 'css/Cold.css' %}">
    <title>Herbal Harmony</title>

</head>
<body>
  <div class="heading name">

    <h1>Treatment of Weak Eyesight</h1>
  </div>
    <nav class="navbar background">
           
                <ul class="nav-list">
                    <div class="logo"><a href="Home"><img src="{% static 'pictures/logo.png' %}" alt="logo" width="30%"></a></div>

                  
                     <li><a href="{% url 'Home' %}">Home</a></li>
                    <li><a href="{% url 'healthform' %}">AI Chat</a></li>
                    <li><a href="{% url 'Treatment' %}">Treatment</a></li>
                    <li><a href="{% url 'herb' %}">Herbs</a></li>
                    <li><a href="{% url 'yoga' %}">Physical Fitness</a></li>
                    <li><a href="{% url 'mentalhealth' %}">Mental Health</a></li>
                     <li><a href="{% url 'About' %}">About</a></li>
                    <!-- <li><a href="#disclaimer">Disclaimer</a></li> -->
                    <li><a href="#contact" style="color:#fff; text-decoration:none; margin-right:12px;">Contact Us</a></li>
                </ul>

                <div id="google_element"></div>
              <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
              <script>
                function loadGoogleTranslate() {
                  new google.translate.TranslateElement("google_element");
                }
              </script>
             </nav>
<div class="section1">
    <h2>Understanding Weak Eyesight Symptoms</h2>
    <p>Weak eyesight is a common condition that can affect people of all ages. It can lead to a variety of symptoms, including:</p>
    <ul>
        <li>Blurred vision</li>
        <li>Difficulty seeing at night</li>
        <li>Eye strain and fatigue</li>
        <li>Blurred vision</li>
        <li>Sensitivity to light</li>
        <li>Difficulty focusing on objects</li>
        <li>Frequent headaches</li>
        <li>Difficulty reading small print</li>
        <li>Double vision</li>
    </ul>
    <p>It's important to recognize these symptoms early for effective treatment.</p>
     <div class="secondHalf">
                <img src="{% static 'pictures/weak eyesight.jpg' %}" alt="img" height="60%" width="80%">
               </div>
</div>
<div class="section2">
   
    <h2>Herbal Remedies for Weak Eyesight</h2>
    <p>Several herbal remedies can help manage Weak Eyesight symptoms:</p>
    <ol>
        <li><strong><h3>Carrot juice:</h3></strong>
             <!-- <img src="{% static 'pictures/ginger cinnamon tea.jpg' %}" alt="img" height="40%" width="50%"> -->
            <ul>
                <strong>Ingredients:</strong>
                <li>2 fresh carrots</li>
                <li>1 glass water</li>
                <strong>How to Use:</strong>
                <li>Blend the carrots with water to make juice and drink it once daily.</li>
                <strong>Benefits:</strong>
                <li>Rich in vitamin A, improves vision and supports eye health.</li>

            </ul>
    </li><br>
    <li><strong><h3>Amla Juice:</h3></strong>
         <!-- <img src="{% static 'pictures/peppermint.jpg' %}" alt="img" height="40%" width="50%"> -->
            <ul>
                <strong>Ingredients:</strong>
                <li>1 fresh amla</li>
                <li>1 glass water</li>
                <strong>How to Use:</strong>
                <li>Blend amla with water and drink the juice in the morning.</li>
                <strong>Benefits:</strong>
                <li>Helps regulate blood sugar levels and improves overall health.</li>
                <li>Rich in vitamin C and antioxidants that help improve eyesight.</li>
                </ul>
        </li><br>

        <li><strong><h3>Almond milk</h3></strong>
             <!-- <img src="{% static 'pictures/giloy juice.jpg' %}" alt="img" height="40%" width="50%"> -->
            <ul>
                <strong>Ingredients:</strong>
                <li>4-5 almonds</li>
                <li>1 glass milk</li>
                <strong>How to Use:</strong>
                <li>Soak the almonds overnight ,grind them,mix with milk,and drink in the morning.</li>
                <strong>Benefits:</strong>
                <li>improve eyesight and strengthens the immune system,eye nerves.</li>
                </ul>
                </li>
<br>
        <li><strong><h3>Fennel (Sainf) Drink:</h3></strong> 
             <!-- <img src="{% static 'pictures/neem leaf juice.jpg' %}" alt="img" height="40%" width="50%"> -->
            <ul>
                <strong>Ingredients:</strong>
                <li>1 tablespoon fennel seed powder</li>
                <li>1 glass warm milk</li>

                <strong>How to Use:</strong>
                <li>Mixfennel powder in milk and drink the mixture before bedtime.</li>
                <strong>Benefits:</strong>
                <li>Helps improve vision and reduces eye weakness.</li>
                </ul>
        </li><br>
       <li><strong><h3>Triphala Eye Wash:</h3></strong> 
         <!-- <img src="{% static 'pictures/ginger cinnamon tea.jpg' %}" alt="img" height="40%" width="50%"> -->
            <ul>
                <strong>Ingredients:</strong>
                <li>1 tsp triphala powder</li>
                <li>1 glass water</li>
                <strong>How to Use:</strong>
                <li>Soak triphala powder in water overnight, strain in the morning, and use the water to wash the eyes.</li>
                <strong>Benefits:</strong>
                <li>Helps clean the eyes and improves eyesight.</li>
                </ul>
                </li><br>
       
        <li><strong><h3>Spinach Juice:</h3></strong> 
           <!-- <img src="{% static 'pictures/curry leaves.jpg' %}" alt="img" height="40%" width="50%">  -->
            <ul>
                <strong>Ingredients:</strong>
                <li>1 cup fresh spinach leaves</li>
                <li>1 glass water</li>
                <strong>How to Use:</strong>
                <li>Blend fresh spinach leaves with water and drink the juice in the morning.</li>
                <strong>Benefits:</strong>
                <li>Rich in vitamin A and lutein, which are beneficial for eye health.</li>
            </ul>
        </li><br>

       <li><strong><h3>Rose Water Eye Drops:</h3></strong> 
         <!-- <img src="{% static 'pictures/tulsi tea.jpg' %}" alt="img" height="50%" width="60%"> -->
            <ul>
                <strong>Ingredients:</strong>
                <li>2-3 drop pure rose water</li>
                
                <strong>How to Use:</strong>
                <li>Put 1-2 drops of rose water in each eye once a day.</li>
                <strong>Benefits:</strong>
                <li>Helps reduce eye irritation, refreshes the eyes, and supports better eyesight.</li>
                </ul>
                </li><br>
    </ol>

   
    </div>
<div class="section3">
    <h2>Preventive Measures</h2>
    <p>To reduce the risk of catching Fever, consider the following preventive measures:</p>
    <ul>
        <li>Include foods rich in vitamin A and antioxidants such as Carrot, Spinach, and Amla to support good vision.</li>
        <li>Use adequate lighting while reading or working to avoid putting extra strain on your eyes.</li>
        <li>Take Breaks from Screens.</li>
        <li>Practice simple eye exercises like blinking, eye rotation, and focusing on distant objects help relax eye muscles.</li>
        <li>Protect Eyes from Dust and Sunlight.</li>
         <li>Proper sleep helps the eyes rest and recover from daily strain.</li>
          <li>Avoid touching eyes with dirty hands and keep them clean to prevent infections.</li>

    </ul>
    </div>
<div class="section4">
    <h2>When to Seek Medical Attention</h2>
    <p>If you experience severe symptoms or if your weak eyesight-related complications last for more than 3-4 days, it's important to seek medical attention. Additionally, if you have difficulty breathing, chest pain,</p>
</div>
 <!-- -----------------footer div--------------------- -->
<footer id="contact" tabindex="-1">
    <div class="footer-container">
      <div class="footer-column">
        <h3>Motive</h3>
        <p>We are committed to provide the best life experience through natureopathy,Promoting natural wellness for all ages with the power of herbs and home remedies.</p>
      </div>

      <!-- -------------------Quick Links-------------------- -->
      <div class="footer-column">
        <h3>Quick Links</h3>
        <a href="{% url 'Home' %}">Home</a>
        <a href="{% url 'healthform' %}">AI Chat</a>
        <a href="{% url 'herb' %}">Herbs</a>
        <a href="{% url 'Treatment' %}">Treatment</a>
        <a href="{% url 'yoga' %}">Physical Fitness</a>
        <a href="{% url 'mentalhealth' %}">Mental Health</a>
        <a href="{% url 'About' %}">About</a>
        <a href="#contact" style="color:#f8f3f3; text-decoration:none; margin-right:12px;">Contact Us</a>
      </div>

      <!-- -------------------Contact Info-------------------- -->
      <div class="footer-column">
        <h3>Contact Us</h3>
        <p>Email: info@herbalharmony.com</p>
        <p>Phone: +91 98765 43210</p>
        <p>Location: Prayagraj, India</p>
      </div>

    
      
    </div>

    <!-- -----------------Footer Last Line---------------------- -->
    <div class="footer-lastline">
      <p>2025 Herbal Harmony. All rights reserved.</p>
    </div>
  </footer>
  
</body>
</html>